body
{
  text-align:center;
   background-color:#E95E4C;
}
#divStory
{
  padding-left:150px;
  width:60%;
  font-size:20px;
 line-height: 1.2;
 font-family: cursive
}
#blank1
{
  color: #46610C;
  border-bottom:5px;
}
#blank2
{
  color: #46610C;
}
#blank3
{
  color: #46610C;
}
#blank4
{
  color: #46610C;
  
}
#blank5
{
  color: #46610C;
}
