.input
{
  width:80%;
  font-size: 20px;
}

.heading
{
  padding-top:10px;
  padding-bottom:10px;
  background-color: #0f4c75;
  margin-bottom:10px;
  color: #bbe1fa;
}
.heading>h1
{
  font-size:25px;
}

.heading>p
{
  font-size:15px;
}
.story
{
  font-size: 25px;
  background-color:#bbe1fa;
}
h2.storyheading
{
  background-color: #0f4c75;
  color: #bbe1fa;
  padding:10px;
}
div.datadiv
{
  font-size: 25px;
  border: 1px solid #0f4c75;
 
}